* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}


.logo {
  margin-right: auto;
}

.logo img {
  max-width: 100px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav li a:hover {
  color: orange;
}

.intro,
h1,
h2 {
 
  text-align: center;
  padding: 20px;
  color: #333;
}

.intro p {
  color: #666;
}

.bebidas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: space-around;
  margin-top: 20px;
}

.bebida {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.bebida img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.bebida h3 {
  margin-top: 20px;
  color: #333;
}

.bebida p {
  color: #666;
}

.imgb {
  display: flex;
  justify-content: center;
  
}
@media (max-width: 768px) {
  .bebidas {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

   .intro, h1, h2 {
    padding: 10px;
  }

  nav li {
    margin-right: 10px;
  }

  nav li a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .bebidas {
    grid-template-columns: 1fr;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav li {
    margin-right: 5px;
  }

  nav li a {
    font-size: 12px;
  }
}
